<p id="notice"><%= notice %></p>

<h1>Shrinks</h1>

<table cellspacing="50" >
  <thead >
    <tr >
      <th>Original Url </th>
      <th> Short Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shrinks.each do |shrink| %>
      <tr>
        <td><%= shrink.originalname %></td>
        <td><%= shrink.shortname %></td>
        <td><%#= link_to 'Show', shrink %></td>
        <td><%#= link_to 'Edit', edit_shrink_path(shrink) %></td>
        <td><%= link_to 'Destroy', shrink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shrink', new_shrink_path %>
